openapi: 3.0.1
info:
  contact:
    email: info@gemini-commerce.com
    name: Gemini Team
  description: |-
    Introducing our revolutionary Product Management Service! Designed to streamline your product inventory and elevate customer experiences, our cutting-edge protobuf service is a game-changer in the world of efficient product management.

    With our service, you can effortlessly create new products, allowing you to quickly bring your ideas to life and expand your catalog. Retrieve product information in a snap, providing accurate and personalized details to your customers based on their specific needs and preferences.

    Stay ahead of the competition by easily updating product information, ensuring your catalog is always up-to-date and optimized. Seamlessly remove products from your inventory when needed, maintaining a clean and relevant product selection.

    Enhance the visual appeal of your products with our advanced media gallery functionalities. Effortlessly add and update captivating images and videos to showcase your products in the best possible light, engaging your customers and driving conversions.

    Personalization is key in today's market, and our service enables you to offer unique options to your customers. Easily create and manage lists of customizable options for your products, providing flexibility and tailoring to individual preferences.

    Attributes play a vital role in defining products, and our service empowers you to effectively manage them. From bulk attribute creation to listing and retrieving attribute options, our service ensures your product information is rich and comprehensive.

    Our service extends its capabilities to entity management, allowing you to effortlessly handle different entities and create customized options lists associated with them. This provides further flexibility and customization options for your product offerings.

    When it comes to bulk updates, our service has you covered. Effortlessly update multiple products simultaneously, saving you time and streamlining your operations.

    Finding specific products and variants is a breeze with our service. Quickly locate products based on their unique stock keeping unit (SKU) values, ensuring efficient inventory management and smooth order fulfillment.

    Experience a new level of efficiency and productivity with our Product Management Service. Unlock the full potential of streamlined product management and empower your business to thrive in today's competitive market. Try our service today and elevate your product management to new heights!
  license:
    name: Gemini fair use license
    url: https://gemini-commerce.com/api/fair-use-license
  title: Product Service
  version: v1
servers:
- url: https://product.api.gogemini.io/
security:
- Authorization: []
tags:
- description: Search Description
  externalDocs:
    url: https://gemini-commerce.com/api/product
  name: Product
paths:
  /product.Product/AddMediaGalleryEntry:
    post:
      description: "The AddMediaGalleryEntry endpoint allows users to add a new media\
        \ entry to the gallery of a specific product. To make a request to this endpoint,\
        \ users need to provide the necessary information in the specified format.\
        \ The request includes the tenant_id to specify the relevant tenant, the product_id\
        \ to identify the target product, and the asset_grn which represents the globally\
        \ unique identifier for the media asset being added. Additionally, the position\
        \ field indicates the desired position of the media entry within the gallery,\
        \ allowing users to control the order in which the media items are displayed.\
        \ The metadata field, which is a repeated field, provides the option to include\
        \ additional metadata associated with the media entry. This operation is asynchronous\
        \ and may complete after the response."
      operationId: AddMediaGalleryEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productAddMediaGalleryEntryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productAddMediaGalleryEntryResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Add Media Gallery Entry
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkAddAssetsEntries:
    post:
      description: The BulkAddAssetsEntries endpoint allows users to add assets. This
        operation is asynchronous and may complete after the response.
      operationId: BulkAddAssetsEntries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkAddAssetsEntriesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkAddAssetsEntriesResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bulk Add Assets Entries
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkCreateAttribute:
    post:
      description: "Allow creation of multiple attributes. If any attribute is invalid,\
        \ an error will be returned with more details, and in the response body, the\
        \ attributes created will be returned."
      operationId: Product_BulkCreateAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerBulkCreateAttributeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerBulkCreateAttributeResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkDeleteProducts:
    post:
      description: This operation is asynchronous and may complete after the response.
      operationId: BulkDeleteProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkDeleteProductsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkDeleteProductsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bulk Delete Products
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkEnhanceProductDataWithAI:
    post:
      description: "The BulkEnhanceProductDataWithAI endpoint allows users to enhance\
        \ product data using artificial intelligence (AI) capabilities. By making\
        \ a request to this endpoint and providing the necessary input data, users\
        \ can leverage AI algorithms to enrich and optimize product information. This\
        \ operation is asynchronous and may complete after the response."
      operationId: BulkEnhanceProductDataWithAI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkEnhanceProductDataWithAIRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkEnhanceProductDataWithAIResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bulk Enhance Product Data With AI
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkRemoveAssetsEntries:
    post:
      description: The BulkRemoveAssetsEntries endpoint allows users to remove assets.
        This operation is asynchronous and may complete after the response.
      operationId: BulkRemoveAssetsEntries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkRemoveAssetsEntriesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkRemoveAssetsEntriesResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bulk Remove Assets Entries
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkUpdate:
    post:
      deprecated: true
      description: This operation is asynchronous and may complete after the response.
      operationId: Product_BulkUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkUpdateResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkUpdateAssetsEntries:
    post:
      description: The BulkUpdateAssetsEntries endpoint allows users to update assets.
        This operation is asynchronous and may complete after the response.
      operationId: BulkUpdateAssetsEntries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkUpdateAssetsEntriesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkUpdateAssetsEntriesResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bulk Update Assets Entries
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/BulkUpdateV2:
    post:
      description: Version 2 of bulk updates for product attributes with enhanced
        payload structure and response format. This operation is asynchronous and
        may complete after the response.
      operationId: BulkUpdateV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productBulkUpdateRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productBulkUpdateResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Bulk Update Products
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateAttributeGroup:
    post:
      operationId: Product_CreateAttributeGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerCreateAttributeGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerAttributeGroup'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateAttributeOptions:
    post:
      description: "Create attribute options with specified codes, values, and swatches.\
        \ Returns created options and any associated errors."
      operationId: CreateAttributeOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerCreateAttributeOptionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerCreateAttributeOptionsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Create Attribute Options
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateEntity:
    post:
      description: "The CreateEntity endpoint allows users to define and create a\
        \ new entity with custom attributes, providing a flexible way to represent\
        \ and manage different data structures within the system. By making a request\
        \ to this endpoint, users can create a new entity that serves as an abstraction\
        \ of a product or any other domain-specific object. This endpoint empowers\
        \ users to define the specific attributes that compose the entity, such as\
        \ color, composition, technical details, or any other relevant properties.\
        \ Utilize the CreateEntity endpoint to dynamically extend and adapt your system's\
        \ data model to accommodate diverse business requirements and efficiently\
        \ manage various types of entities."
      operationId: CreateEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerEntity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerCreateEntityResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Create Entity
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateOptionsList:
    post:
      description: "The CreateOptionsList endpoint allows users to create an OptionList,\
        \ which represents a list of predefined options for assigning to an attribute.\
        \ By making a request to this endpoint with the provided request format, users\
        \ can create a new OptionList by specifying the relevant tenant ID and providing\
        \ the OptionList object containing the predefined options. This functionality\
        \ facilitates efficient management and assignment of predefined attribute\
        \ values, ensuring consistency and flexibility within the system."
      operationId: CreateOptionsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerCreateOptionsListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerCreateOptionsListResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Create Options List
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateProduct:
    post:
      deprecated: true
      operationId: Product_CreateProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productCreateProductRequest'
        description: The CreateProductRequest message is used to create a new product
          within the system. It contains various fields that allow specifying the
          details and attributes of the product.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productCreateProductResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateProductV2:
    post:
      operationId: Product_CreateProductV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productCreateProductRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productCreateProductResponseV2'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/CreateProductWithAI:
    post:
      description: "The CreateProductWithAI endpoint allows users to create a new\
        \ product within the system using artificial intelligence (AI) capabilities.\
        \ By sending a request to this endpoint and providing the necessary input\
        \ data, users can leverage AI algorithms to enhance and optimize the product\
        \ creation process."
      operationId: CreateProductWithAI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productCreateProductWithAIRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productCreateProductWithAIResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Create Product With AI
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/Delete:
    post:
      deprecated: true
      operationId: Product_Delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productDeleteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productDeleteResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/DeleteAttribute:
    post:
      operationId: Product_DeleteAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerDeleteAttributeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/DeleteProduct:
    post:
      operationId: Product_DeleteProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productDeleteProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productDeleteProductResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetAttributeGroup:
    post:
      operationId: Product_GetAttributeGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerGetAttributeGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerAttributeGroup'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetAttributeOption:
    post:
      description: "Retrieve attribute option details by providing the tenant ID,\
        \ list code, and option ID. Returns the specified attribute option."
      operationId: GetAttributeOption
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerGetAttributeOptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerGetAttributeOptionResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Attribute Option
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetAttributeOptions:
    post:
      description: Retrieve a list of attribute options based on the provided tenant
        ID and list code.
      operationId: GetAttributeOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerGetAttributeOptionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerGetAttributeOptionsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Attribute Options
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetEnhanceProductDataWithAIStatus:
    post:
      description: "The GetEnhanceProductDataWithAIStatus endpoint allows users to\
        \ retrieve the status of a product data enhancement process using artificial\
        \ intelligence (AI) capabilities. By making a request to this endpoint and\
        \ providing the necessary input data, users can check the progress and completion\
        \ status of the AI-driven product data enhancement operation. This functionality\
        \ provides visibility and transparency into the AI processing of product data,\
        \ enabling users to monitor and track the status of the enhancement process."
      operationId: UpdateDataToBeReviewed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productGetEnhanceProductDataWithAIStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productGetEnhanceProductDataWithAIStatusResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Enhance Product Data With AI Status
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetEntity:
    post:
      description: "Retrieve details of an entity by providing the tenant ID and either\
        \ entity data or entity ID. Returns information including ID, type, code,\
        \ label, relationships, and attributes."
      operationId: GetEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerEntityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerEntity'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Entity Details
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetOptionsList:
    post:
      description: Retrieve option lists.
      operationId: GetOptionsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerGetOptionsListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerGetOptionsListResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Options List
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetProduct:
    post:
      description: "The GetProduct endpoint enables users to retrieve a product from\
        \ the system. By sending a request to this endpoint, users can retrieve a\
        \ product by providing its unique identifier."
      operationId: GetProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productGetProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productGetProductResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Product
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetProductByCode:
    post:
      description: "The GetProductByCode endpoint enables users to retrieve a product\
        \ from the system. By sending a request to this endpoint, users can retrieve\
        \ a product by providing its unique code."
      operationId: GetProductByCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productGetProductByCodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productGetProductByCodeResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Product By Code
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetProductByUrlKey:
    post:
      description: "The GetProductByUrlKey endpoint enables users to retrieve a product\
        \ from the system. By sending a request to this endpoint, users can retrieve\
        \ a product by providing its unique url key."
      operationId: GetProductByUrlKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productGetProductByUrlKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productGetProductByUrlKeyResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Product By Url Key
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/GetProductDataInReview:
    post:
      description: "The GetProductDataInReview endpoint allows users to retrieve product\
        \ data that is currently under review. By making a request to this endpoint,\
        \ users can access detailed information about the product data that is pending\
        \ approval or review by authorized personnel. This functionality provides\
        \ transparency and visibility into the product data review process, enabling\
        \ users to track the status and progress of product data submissions."
      operationId: GetProductDataInReview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productGetProductDataInReviewRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productGetProductDataInReviewResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Product Data In Review
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListAttributeGroups:
    post:
      operationId: Product_ListAttributeGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerListAttributeGroupsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerListAttributeGroupsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListAttributeOptions:
    post:
      operationId: ListAttributeOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerListAttributeOptionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerListAttributeOptionsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Attribute Options
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListEntities:
    post:
      operationId: ListEntities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerListEntitiesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerListEntitiesResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Entities
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListOptionsLists:
    post:
      description: "The ListOptionsLists endpoint allows users to retrieve a list\
        \ of OptionLists available in the system. By making a request to this endpoint\
        \ with the provided request format, users can obtain all the OptionLists associated\
        \ with the specified tenant. This functionality enables users to access and\
        \ manage the predefined options available for various attributes within the\
        \ system. Utilizing the ListOptionsLists endpoint provides a convenient way\
        \ to retrieve and work with OptionLists, facilitating efficient management\
        \ of attribute options and ensuring consistency in attribute values throughout\
        \ the system."
      operationId: ListOptionsLists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerListOptionsListsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerListOptionsListsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Options Lists
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListProducts:
    post:
      description: "The ListProducts endpoint provides users with the ability to retrieve\
        \ a filtered list of products based on specific criteria. By including filter\
        \ parameters in the request, users can customize the response to only include\
        \ products that meet certain conditions, such as price range, category, availability,\
        \ or any other relevant attributes. This endpoint empowers users to efficiently\
        \ narrow down the product selection and retrieve tailored results."
      operationId: ListProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productListProductsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productListProductsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Products
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListProductsByIds:
    post:
      description: "The ListProductsByIds endpoint allows users to retrieve a list\
        \ of products based on provided IDs. By making a request to this endpoint\
        \ and specifying a set of product IDs, users can retrieve detailed information\
        \ about the corresponding products. This endpoint facilitates efficient retrieval\
        \ of specific products, enabling applications to display accurate and targeted\
        \ product information to users."
      operationId: ListProductsByIds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productListProductsByIdsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productListProductsByIdsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Products By Ids
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListProductsBySku:
    post:
      operationId: ListProductsBySku
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productListProductsBySkuRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productListProductsBySkuResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Products By Sku
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/ListVariantsBySku:
    post:
      operationId: ListVariantsBySku
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productListVariantsBySkuRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productListVariantsBySkuResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Product Variants By Sku
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/RemoveMediaGalleryEntry:
    post:
      description: "The RemoveMediaGalleryEntry endpoint allows users to remove a\
        \ specific media entry from a product's gallery. By making a request to this\
        \ endpoint and providing the tenant ID, product ID, and the unique identifier\
        \ of the media entry, users can easily manage and update the visual content\
        \ of a product's gallery. This operation is asynchronous and may complete\
        \ after the response."
      operationId: RemoveMediaGalleryEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productRemoveMediaGalleryEntryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productRemoveMediaGalleryEntryResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Remove Media Gallery Entry
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateAttribute:
    post:
      operationId: Product_UpdateAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerUpdateAttributeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerAttribute'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateAttributeGroup:
    post:
      operationId: Product_UpdateAttributeGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerUpdateAttributeGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerAttributeGroup'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateAttributeOptions:
    post:
      operationId: UpdateAttributeOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerUpdateAttributeOptionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerUpdateAttributeOptionsResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Attribute Options
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateDataToBeReviewed:
    post:
      description: "The UpdateDataToBeReviewed endpoint allows users to update product\
        \ data that is pending review. By sending a request to this endpoint and providing\
        \ the necessary input data, users can modify and enhance the product information\
        \ that is currently under review. This functionality enables users to make\
        \ changes to product data submissions and ensure that the information is accurate\
        \ and up-to-date before final approval."
      operationId: UpdateDataToBeReviewed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productUpdateDataToBeReviewedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productUpdateDataToBeReviewedResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Data To Be Reviewed
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateMediaGalleryEntry:
    post:
      description: "The UpdateMediaGalleryEntry endpoint allows users to modify and\
        \ update a specific media entry within a product's gallery. By sending a request\
        \ to this endpoint and providing the necessary information, users can efficiently\
        \ update the media asset, position, and metadata associated with the entry.\
        \ This operation is asynchronous and may complete after the response."
      operationId: UpdateMediaGalleryEntry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productUpdateMediaGalleryEntryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productUpdateMediaGalleryEntryResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Media Gallery Entry
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateOptionsList:
    post:
      operationId: UpdateOptionsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entitymanagerUpdateOptionsListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitymanagerUpdateOptionsListResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Options List
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateProduct:
    post:
      deprecated: true
      operationId: Product_UpdateProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productUpdateProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productUpdateProductResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateProductV2:
    post:
      operationId: Product_UpdateProductV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productUpdateProductRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productUpdateProductResponseV2'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /product.Product/UpdateProductWithAI:
    post:
      description: "The UpdateProductWithAI endpoint allows users to update an existing\
        \ product within the system using artificial intelligence (AI) capabilities.\
        \ By sending a request to this endpoint and providing the necessary input\
        \ data, users can leverage AI algorithms to enhance and optimize the product\
        \ update process."
      operationId: UpdateProductWithAI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productUpdateProductWithAIRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productUpdateProductWithAIResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Product With AI
      tags:
      - Product
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    AttributeInReviewString:
      example:
        locale: locale
        value: value
      properties:
        value:
          type: string
        locale:
          type: string
      type: object
    BulkUpdateAssetsEntriesRequestUpdateEntity:
      properties:
        id:
          type: string
        payload:
          $ref: '#/components/schemas/productUpdateAssetEntryPayload'
        payloadMask:
          type: string
      type: object
    GetEnhanceProductDataWithAIStatusResponseJob:
      example:
        jobStatus: null
        executedAt: 2000-01-23T04:56:07.000+00:00
        productId: productId
        startedAt: 2000-01-23T04:56:07.000+00:00
        id: id
        jobType: null
        parentId: parentId
        finishedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        parentId:
          type: string
        jobType:
          $ref: '#/components/schemas/productAttributeInReviewJobType'
        jobStatus:
          $ref: '#/components/schemas/productAttributeInReviewJobStatus'
        id:
          type: string
        startedAt:
          format: date-time
          type: string
        executedAt:
          format: date-time
          type: string
        finishedAt:
          format: date-time
          type: string
        productId:
          type: string
      type: object
    ListProductsRequestFilter:
      properties:
        createdAtStart:
          format: date-time
          title: optional
          type: string
        createdAtEnd:
          format: date-time
          type: string
        updatedAtStart:
          format: date-time
          type: string
        updatedAtEnd:
          format: date-time
          type: string
        status:
          type: boolean
      type: object
    TranslateActionAll:
      type: object
    TranslateActionAttributeCodesToTranslate:
      properties:
        codes:
          items:
            type: string
          type: array
      type: object
    entitymanagerAiContext:
      example:
        minLength: minLength
        description: description
        maxLength: maxLength
      properties:
        minLength:
          type: string
        maxLength:
          type: string
        description:
          type: string
      type: object
    entitymanagerAttribute:
      example:
        isRequired: true
        code: code
        optionList: optionList
        renderAs: null
        entityId: entityId
        isRepeated: true
        label: label
        sort: 0
        type: null
        title:
          key: title
        isSystem: true
        default: default
        entity: entity
        aiContext:
          minLength: minLength
          description: description
          maxLength: maxLength
        groupCode: groupCode
      properties:
        entityId:
          type: string
        code:
          type: string
        label:
          type: string
        type:
          $ref: '#/components/schemas/entitymanagerTypes'
        optionList:
          type: string
        entity:
          type: string
        default:
          type: string
        isRequired:
          type: boolean
        isSystem:
          type: boolean
        isRepeated:
          type: boolean
        sort:
          format: int32
          type: integer
        groupCode:
          type: string
        title:
          additionalProperties:
            type: string
          type: object
        renderAs:
          $ref: '#/components/schemas/entitymanagerRenderAs'
        aiContext:
          $ref: '#/components/schemas/entitymanagerAiContext'
      type: object
    entitymanagerAttributeGroup:
      example:
        code: code
        visibility:
        - visibility
        - visibility
        label:
          value:
            key: value
        sort: 0
      properties:
        code:
          type: string
        label:
          $ref: '#/components/schemas/productentitymanagerLocalizedText'
        sort:
          format: int32
          type: integer
        visibility:
          items:
            type: string
          title: "array of section codes (e.g. \"pim\", \"configurator\"), in which\
            \ the attribute group is visible (empty array means visible everywhere)"
          type: array
      type: object
    entitymanagerAttributeOption:
      example:
        code: code
        sort: 0
        id: id
        value:
          value:
            key: value
        swatches:
        - grn: grn
          hex: hex
        - grn: grn
          hex: hex
        option:
          key: option
      properties:
        option:
          additionalProperties:
            type: string
          type: object
        sort:
          format: int64
          type: integer
        id:
          type: string
        code:
          type: string
        value:
          $ref: '#/components/schemas/productentitymanagerLocalizedText'
        swatches:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOptionSwatch'
          type: array
      type: object
    entitymanagerAttributeOptionErrors:
      example:
        error: error
        option:
          key: option
      properties:
        error:
          type: string
        option:
          additionalProperties:
            type: string
          type: object
      type: object
    entitymanagerAttributeOptionSwatch:
      example:
        grn: grn
        hex: hex
      properties:
        grn:
          type: string
        hex:
          type: string
      type: object
    entitymanagerAttributeWriteError:
      example:
        attributeCode: attributeCode
        errorCode: errorCode
        message: message
      properties:
        errorCode:
          type: string
        attributeCode:
          type: string
        message:
          type: string
      type: object
    entitymanagerAttributeWriteErrors:
      example:
        attributeWriteErrors:
        - attributeCode: attributeCode
          errorCode: errorCode
          message: message
        - attributeCode: attributeCode
          errorCode: errorCode
          message: message
      properties:
        attributeWriteErrors:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeWriteError'
          type: array
      type: object
    entitymanagerBulkCreateAttributeRequest:
      properties:
        tenantId:
          type: string
        entityData:
          $ref: '#/components/schemas/entitymanagerEntityIdentifier'
        entityId:
          type: string
        attributes:
          items:
            $ref: '#/components/schemas/entitymanagerAttribute'
          type: array
      type: object
    entitymanagerBulkCreateAttributeResponse:
      example:
        attributes:
        - isRequired: true
          code: code
          optionList: optionList
          renderAs: null
          entityId: entityId
          isRepeated: true
          label: label
          sort: 0
          type: null
          title:
            key: title
          isSystem: true
          default: default
          entity: entity
          aiContext:
            minLength: minLength
            description: description
            maxLength: maxLength
          groupCode: groupCode
        - isRequired: true
          code: code
          optionList: optionList
          renderAs: null
          entityId: entityId
          isRepeated: true
          label: label
          sort: 0
          type: null
          title:
            key: title
          isSystem: true
          default: default
          entity: entity
          aiContext:
            minLength: minLength
            description: description
            maxLength: maxLength
          groupCode: groupCode
      properties:
        attributes:
          items:
            $ref: '#/components/schemas/entitymanagerAttribute'
          type: array
      type: object
    entitymanagerCreateAttributeGroupRequest:
      properties:
        tenantId:
          type: string
        code:
          type: string
        label:
          $ref: '#/components/schemas/productentitymanagerLocalizedText'
        sort:
          format: int32
          type: integer
        visibility:
          items:
            type: string
          title: "array of section codes (e.g. \"pim\", \"configurator\"), in which\
            \ the attribute group is visible (empty array means visible everywhere)"
          type: array
      type: object
    entitymanagerCreateAttributeOptionsRequest:
      properties:
        tenantId:
          type: string
        listCode:
          type: string
        options:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOption'
          type: array
      type: object
    entitymanagerCreateAttributeOptionsResponse:
      example:
        options:
        - code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
        - code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
        errors:
        - error: error
          option:
            key: option
        - error: error
          option:
            key: option
      properties:
        options:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOption'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOptionErrors'
          type: array
      type: object
    entitymanagerCreateEntityResponse:
      example:
        entity:
          relationships:
          - relationships
          - relationships
          code: code
          parentCode: parentCode
          tenantId: tenantId
          attributes:
          - isRequired: true
            code: code
            optionList: optionList
            renderAs: null
            entityId: entityId
            isRepeated: true
            label: label
            sort: 0
            type: null
            title:
              key: title
            isSystem: true
            default: default
            entity: entity
            aiContext:
              minLength: minLength
              description: description
              maxLength: maxLength
            groupCode: groupCode
          - isRequired: true
            code: code
            optionList: optionList
            renderAs: null
            entityId: entityId
            isRepeated: true
            label: label
            sort: 0
            type: null
            title:
              key: title
            isSystem: true
            default: default
            entity: entity
            aiContext:
              minLength: minLength
              description: description
              maxLength: maxLength
            groupCode: groupCode
          id: id
          label: label
          type: type
        attributeWriteErrors:
          attributeWriteErrors:
          - attributeCode: attributeCode
            errorCode: errorCode
            message: message
          - attributeCode: attributeCode
            errorCode: errorCode
            message: message
      properties:
        attributeWriteErrors:
          $ref: '#/components/schemas/entitymanagerAttributeWriteErrors'
        entity:
          $ref: '#/components/schemas/entitymanagerEntity'
      type: object
    entitymanagerCreateOptionsListRequest:
      properties:
        tenantId:
          type: string
        optionList:
          $ref: '#/components/schemas/entitymanagerOptionsList'
      type: object
    entitymanagerCreateOptionsListResponse:
      example:
        optionList:
          code: code
          name: name
      properties:
        optionList:
          $ref: '#/components/schemas/entitymanagerOptionsList'
      type: object
    entitymanagerDeleteAttributeRequest:
      properties:
        tenantId:
          type: string
        entityData:
          $ref: '#/components/schemas/entitymanagerEntityIdentifier'
        entityId:
          type: string
        code:
          type: string
      type: object
    entitymanagerEntity:
      example:
        relationships:
        - relationships
        - relationships
        code: code
        parentCode: parentCode
        tenantId: tenantId
        attributes:
        - isRequired: true
          code: code
          optionList: optionList
          renderAs: null
          entityId: entityId
          isRepeated: true
          label: label
          sort: 0
          type: null
          title:
            key: title
          isSystem: true
          default: default
          entity: entity
          aiContext:
            minLength: minLength
            description: description
            maxLength: maxLength
          groupCode: groupCode
        - isRequired: true
          code: code
          optionList: optionList
          renderAs: null
          entityId: entityId
          isRepeated: true
          label: label
          sort: 0
          type: null
          title:
            key: title
          isSystem: true
          default: default
          entity: entity
          aiContext:
            minLength: minLength
            description: description
            maxLength: maxLength
          groupCode: groupCode
        id: id
        label: label
        type: type
      properties:
        tenantId:
          type: string
        id:
          type: string
        type:
          type: string
        code:
          type: string
        parentCode:
          type: string
        label:
          type: string
        relationships:
          items:
            type: string
          type: array
        attributes:
          items:
            $ref: '#/components/schemas/entitymanagerAttribute'
          type: array
      type: object
    entitymanagerEntityIdentifier:
      properties:
        type:
          type: string
        code:
          type: string
      type: object
    entitymanagerEntityRequest:
      properties:
        tenantId:
          type: string
        entityData:
          $ref: '#/components/schemas/entitymanagerEntityIdentifier'
        entityId:
          type: string
      type: object
    entitymanagerGetAttributeGroupRequest:
      properties:
        tenantId:
          type: string
        code:
          type: string
      type: object
    entitymanagerGetAttributeOptionRequest:
      properties:
        tenantId:
          type: string
        listCode:
          type: string
        optionId:
          type: string
      type: object
    entitymanagerGetAttributeOptionResponse:
      example:
        option:
          code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
      properties:
        option:
          $ref: '#/components/schemas/entitymanagerAttributeOption'
      type: object
    entitymanagerGetAttributeOptionsRequest:
      properties:
        tenantId:
          type: string
        optionIds:
          items:
            $ref: '#/components/schemas/entitymanagerGetAttributeOptionsRequestOption'
          type: array
      type: object
    entitymanagerGetAttributeOptionsRequestOption:
      properties:
        listCode:
          type: string
        optionId:
          type: string
      type: object
    entitymanagerGetAttributeOptionsResponse:
      example:
        options:
        - listCode: listCode
          option:
            code: code
            sort: 0
            id: id
            value:
              value:
                key: value
            swatches:
            - grn: grn
              hex: hex
            - grn: grn
              hex: hex
            option:
              key: option
        - listCode: listCode
          option:
            code: code
            sort: 0
            id: id
            value:
              value:
                key: value
            swatches:
            - grn: grn
              hex: hex
            - grn: grn
              hex: hex
            option:
              key: option
      properties:
        options:
          items:
            $ref: '#/components/schemas/entitymanagerGetAttributeOptionsResponseOption'
          type: array
      type: object
    entitymanagerGetAttributeOptionsResponseOption:
      example:
        listCode: listCode
        option:
          code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
      properties:
        listCode:
          type: string
        option:
          $ref: '#/components/schemas/entitymanagerAttributeOption'
      type: object
    entitymanagerGetOptionsListRequest:
      properties:
        tenantId:
          type: string
        listCode:
          type: string
      type: object
    entitymanagerGetOptionsListResponse:
      example:
        optionList:
          code: code
          name: name
      properties:
        optionList:
          $ref: '#/components/schemas/entitymanagerOptionsList'
      type: object
    entitymanagerListAttributeGroupsRequest:
      properties:
        tenantId:
          type: string
      type: object
    entitymanagerListAttributeGroupsResponse:
      example:
        attributeGroups:
        - code: code
          visibility:
          - visibility
          - visibility
          label:
            value:
              key: value
          sort: 0
        - code: code
          visibility:
          - visibility
          - visibility
          label:
            value:
              key: value
          sort: 0
      properties:
        attributeGroups:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeGroup'
          type: array
      type: object
    entitymanagerListAttributeOptionsRequest:
      properties:
        tenantId:
          type: string
        listCode:
          type: string
      type: object
    entitymanagerListAttributeOptionsResponse:
      example:
        options:
        - code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
        - code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
      properties:
        options:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOption'
          type: array
      type: object
    entitymanagerListEntitiesRequest:
      properties:
        tenantId:
          type: string
        pageSize:
          format: int32
          type: integer
      type: object
    entitymanagerListEntitiesResponse:
      example:
        entities:
        - relationships:
          - relationships
          - relationships
          code: code
          parentCode: parentCode
          tenantId: tenantId
          attributes:
          - isRequired: true
            code: code
            optionList: optionList
            renderAs: null
            entityId: entityId
            isRepeated: true
            label: label
            sort: 0
            type: null
            title:
              key: title
            isSystem: true
            default: default
            entity: entity
            aiContext:
              minLength: minLength
              description: description
              maxLength: maxLength
            groupCode: groupCode
          - isRequired: true
            code: code
            optionList: optionList
            renderAs: null
            entityId: entityId
            isRepeated: true
            label: label
            sort: 0
            type: null
            title:
              key: title
            isSystem: true
            default: default
            entity: entity
            aiContext:
              minLength: minLength
              description: description
              maxLength: maxLength
            groupCode: groupCode
          id: id
          label: label
          type: type
        - relationships:
          - relationships
          - relationships
          code: code
          parentCode: parentCode
          tenantId: tenantId
          attributes:
          - isRequired: true
            code: code
            optionList: optionList
            renderAs: null
            entityId: entityId
            isRepeated: true
            label: label
            sort: 0
            type: null
            title:
              key: title
            isSystem: true
            default: default
            entity: entity
            aiContext:
              minLength: minLength
              description: description
              maxLength: maxLength
            groupCode: groupCode
          - isRequired: true
            code: code
            optionList: optionList
            renderAs: null
            entityId: entityId
            isRepeated: true
            label: label
            sort: 0
            type: null
            title:
              key: title
            isSystem: true
            default: default
            entity: entity
            aiContext:
              minLength: minLength
              description: description
              maxLength: maxLength
            groupCode: groupCode
          id: id
          label: label
          type: type
        nextPage: 0
      properties:
        entities:
          items:
            $ref: '#/components/schemas/entitymanagerEntity'
          type: array
        nextPage:
          format: int32
          type: integer
      type: object
    entitymanagerListOptionsListsRequest:
      properties:
        tenantId:
          type: string
      type: object
    entitymanagerListOptionsListsResponse:
      example:
        options:
        - code: code
          name: name
        - code: code
          name: name
      properties:
        options:
          items:
            $ref: '#/components/schemas/entitymanagerOptionsList'
          type: array
      type: object
    entitymanagerOptionsList:
      example:
        code: code
        name: name
      properties:
        code:
          type: string
        name:
          type: string
      type: object
    entitymanagerRenderAs:
      default: DEFAULT
      enum:
      - DEFAULT
      - WYSIWYG
      type: string
    entitymanagerTypes:
      default: TEXT
      enum:
      - TEXT
      - NUMBER
      - BOOLEAN
      - DATETIME
      - EXTERNAL
      - EMBED
      - FLOAT32
      type: string
    entitymanagerUpdateAttributeGroupRequest:
      properties:
        tenantId:
          type: string
        code:
          type: string
        payload:
          $ref: '#/components/schemas/entitymanagerUpdateAttributeGroupRequestPayload'
        fieldMask:
          type: string
      type: object
    entitymanagerUpdateAttributeGroupRequestPayload:
      properties:
        label:
          $ref: '#/components/schemas/productentitymanagerLocalizedText'
        sort:
          format: int32
          type: integer
        visibility:
          items:
            type: string
          title: "array of section codes (e.g. \"pim\", \"configurator\"), in which\
            \ the attribute group is visible (empty array means visible everywhere)"
          type: array
      type: object
    entitymanagerUpdateAttributeOptionsRequest:
      properties:
        tenantId:
          type: string
        listCode:
          type: string
        options:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOption'
          type: array
      type: object
    entitymanagerUpdateAttributeOptionsResponse:
      example:
        options:
        - code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
        - code: code
          sort: 0
          id: id
          value:
            value:
              key: value
          swatches:
          - grn: grn
            hex: hex
          - grn: grn
            hex: hex
          option:
            key: option
        errors:
        - error: error
          option:
            key: option
        - error: error
          option:
            key: option
      properties:
        options:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOption'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/entitymanagerAttributeOptionErrors'
          type: array
      type: object
    entitymanagerUpdateAttributeRequest:
      properties:
        tenantId:
          type: string
        code:
          type: string
        entityData:
          $ref: '#/components/schemas/entitymanagerEntityIdentifier'
        entityId:
          type: string
        payload:
          $ref: '#/components/schemas/entitymanagerUpdateAttributeRequestPayload'
        fieldMask:
          type: string
      type: object
    entitymanagerUpdateAttributeRequestPayload:
      properties:
        label:
          type: string
        default:
          type: string
        sort:
          format: int32
          type: integer
        groupCode:
          type: string
        title:
          additionalProperties:
            type: string
          type: object
        renderAs:
          $ref: '#/components/schemas/entitymanagerRenderAs'
        aiContext:
          $ref: '#/components/schemas/entitymanagerAiContext'
      type: object
    entitymanagerUpdateOptionsListRequest:
      properties:
        tenantId:
          type: string
        optionList:
          $ref: '#/components/schemas/entitymanagerOptionsList'
      type: object
    entitymanagerUpdateOptionsListResponse:
      example:
        optionList:
          code: code
          name: name
      properties:
        optionList:
          $ref: '#/components/schemas/entitymanagerOptionsList'
      type: object
    productAddMediaGalleryEntryRequest:
      properties:
        tenantId:
          type: string
        productId:
          type: string
        assetGrn:
          type: string
        position:
          format: int64
          type: integer
        metadata:
          items:
            $ref: '#/components/schemas/productMediaGalleryEntryMetadata'
          type: array
      type: object
    productAddMediaGalleryEntryResponse:
      example:
        mediaGalleryEntry:
          assetGrn: assetGrn
          metadata:
          - roles:
            - roles
            - roles
            alt:
              value:
                key: value
          - roles:
            - roles
            - roles
            alt:
              value:
                key: value
          id: id
          position: 0
      properties:
        mediaGalleryEntry:
          $ref: '#/components/schemas/productMediaGalleryEntry'
      type: object
    productAssetData:
      properties:
        assetGrn:
          type: string
        localizedAssetGrn:
          $ref: '#/components/schemas/productLocalizedAsset'
        position:
          format: int64
          type: integer
        metadata:
          items:
            $ref: '#/components/schemas/productAssetsEntryMetadata'
          type: array
      type: object
    productAssets:
      example:
        entries:
        - assetGrn: assetGrn
          locales:
          - locales
          - locales
          metadata:
          - roles:
            - roles
            - roles
            alt:
              value:
                key: value
          - roles:
            - roles
            - roles
            alt:
              value:
                key: value
          localizedAssetGrn:
            value:
              key: value
          id: id
          position: 0
        - assetGrn: assetGrn
          locales:
          - locales
          - locales
          metadata:
          - roles:
            - roles
            - roles
            alt:
              value:
                key: value
          - roles:
            - roles
            - roles
            alt:
              value:
                key: value
          localizedAssetGrn:
            value:
              key: value
          id: id
          position: 0
      properties:
        entries:
          items:
            $ref: '#/components/schemas/productAssetsEntry'
          type: array
      type: object
    productAssetsEntry:
      example:
        assetGrn: assetGrn
        locales:
        - locales
        - locales
        metadata:
        - roles:
          - roles
          - roles
          alt:
            value:
              key: value
        - roles:
          - roles
          - roles
          alt:
            value:
              key: value
        localizedAssetGrn:
          value:
            key: value
        id: id
        position: 0
      properties:
        id:
          type: string
        assetGrn:
          type: string
        localizedAssetGrn:
          $ref: '#/components/schemas/productLocalizedAsset'
        locales:
          items:
            type: string
          type: array
        position:
          format: int64
          type: integer
        metadata:
          items:
            $ref: '#/components/schemas/productAssetsEntryMetadata'
          type: array
      type: object
    productAssetsEntryMetadata:
      example:
        roles:
        - roles
        - roles
        alt:
          value:
            key: value
      properties:
        roles:
          items:
            type: string
          type: array
        alt:
          $ref: '#/components/schemas/productLocalizedText'
      type: object
    productAttributeInReview:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        jobId: jobId
        code: code
        boolean: true
        string:
          locale: locale
          value: value
        int32: 0
        int64: int64
        float32: 6.0274563
        float64: 1.4658129805029452
        source: null
        jobType: null
        error:
          reason: reason
          code: code
      properties:
        code:
          type: string
        string:
          $ref: '#/components/schemas/AttributeInReviewString'
        int32:
          format: int32
          type: integer
        int64:
          format: int64
          type: string
        float32:
          format: float
          type: number
        float64:
          format: double
          type: number
        boolean:
          type: boolean
        source:
          $ref: '#/components/schemas/productAttributeInReviewSource'
        createdAt:
          format: date-time
          type: string
        jobId:
          type: string
        jobType:
          $ref: '#/components/schemas/productAttributeInReviewJobType'
        error:
          $ref: '#/components/schemas/productAttributeInReviewError'
      type: object
    productAttributeInReviewError:
      example:
        reason: reason
        code: code
      properties:
        code:
          type: string
        reason:
          type: string
      type: object
    productAttributeInReviewJobStatus:
      default: ATTRIBUTE_IN_REVIEW_STATUS_UNKNOWN
      enum:
      - ATTRIBUTE_IN_REVIEW_STATUS_UNKNOWN
      - ATTRIBUTE_IN_REVIEW_STATUS_RUNNING
      - ATTRIBUTE_IN_REVIEW_STATUS_COMPLETED
      - ATTRIBUTE_IN_REVIEW_STATUS_FAILED
      - ATTRIBUTE_IN_REVIEW_STATUS_CANCELED
      - ATTRIBUTE_IN_REVIEW_STATUS_TERMINATED
      type: string
    productAttributeInReviewJobType:
      default: ATTRIBUTE_IN_REVIEW_JOB_TYPE_UNKNOWN
      enum:
      - ATTRIBUTE_IN_REVIEW_JOB_TYPE_UNKNOWN
      - ATTRIBUTE_IN_REVIEW_JOB_TYPE_ENRICHMENT
      - ATTRIBUTE_IN_REVIEW_JOB_TYPE_TRANSLATION
[...]
